* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Nimbus";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/NIMBSTB.TTF");
}

@font-face {
    font-family: "Helvetica";
    font-weight: 900;
    font-style: normal;
    src: url("fonts/HelveticaNeueCyr-Black.otf");
}

@font-face {
    font-family: "Helvetica";
    font-weight: 700;
    font-style: normal;
    src: url("fonts/HelveticaNeueCyr-Bold.otf");
}

@font-face {
    font-family: "Helvetica";
    font-weight: 300;
    font-style: normal;
    src: url("fonts/HelveticaNeueCyr-Light.otf");
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.main-header {
    position: relative;
    min-height: 871px;
    border-top: 1px solid transparent;
    border-bottom: 4px solid #e46107;
    background: url("../img/background-top.jpg") no-repeat center top;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 17px;
    left: 50%;
    margin-left: -157px;
}

.ellipse {
    position: absolute;
    top: 187px;
    left: 50%;
    margin-left: -462px;
}

.mobile-menu {
    display: none;
}

.active i {
    color: orange;
}

.main-navigation {
    width: 600px;
    margin-top: 197px;
    margin-right: auto;
    margin-left: auto;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    padding: 15px 20px;
}

.main-navigation li:hover {
    background-color: #e46107;
}

.main-navigation a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Nimbus", "Arial", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 40px;
}

.main-header h1 {
    margin-top: 39px;
    text-align: center;
    color: #f1f2f5;
    text-shadow: 0 0 6px rgba(31, 88, 0, 0.75);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 68px;
    font-weight: 900;
    line-height: 60px;
}

.header-text {
    width: 75%;
    min-height: 180px;
    margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0px;
    border-radius: 5px;
    background-color: rgba(38, 49, 28, 0.7);
}

.header-text h2 {
    text-align: center;
    color: #f1f2f5;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
}

.header-text p {
    width: 90%;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.items-list {
    height: 679px;
    background-color: #26311c;
}

.items-list .container {
    position: relative;
    top: -120px;
}

.top-items {
    max-width: 885px;
    margin: 0 auto;
}

.bottom-items {
    max-width: 548px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

main img {
    border: 6px solid white;
    border-radius: 50%;
}

main ul {
    font-size: 0;
}

main li {
    display: inline-block;
    margin-left: 110px;
}

main li:first-child {
    margin-left: 0;
}

main h3 {
    margin-top: 30px;
    text-align: center;
    color: #f1f2f5;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
}

.bottom-items h3 {
    margin-top: 28px;
}

main .btn {
    display: block;
    width: 168px;
    height: 60px;
    margin-top: 13px;
    margin-left: 30px;
    padding-top: 7px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    border: 2px solid #a1ad97;
    border-radius: 5px;
    font-family: "Nimbus", "Arial", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 40px;
}

.bottom-items .btn {
    margin-left: 23px;
}

main .btn:hover {
    color: #8dc704;
    border-color: #8dc704;
}

.benefits {
    min-height: 535px;
    border-top: 1px solid #26311c;
    border-bottom: 2px solid #7da83c;
    background: url("../img/background-bottom.jpg") no-repeat center top;
    background-size: cover;
}

.benefits-text {
    max-width: 445px;
    min-height: 370px;
    margin-top: 70px;
    margin-left: 163px;
}

.benefits-text p {
    width: 100%;
    margin-top: 10px;
}

.benefits h2 {
    margin-top: 0px;
    text-align: left;
    color: #000;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 53px;
}

.benefits span {
    display: inline-block;
    margin-top: -6px;
    color: #47890a;
    font-size: 54px;
    font-weight: 700;
}

.benefits p {
    color: #000;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.benefits .btn {
    margin-top: 16px;
    margin-left: 0;
    border-color: white;
}

.benefits .btn:hover {
    color: #48890a;
    border-color: #48890a;
}

.footer-navigation ul {
    width: 510px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 12px;
    margin-left: auto;
}

.footer-navigation li {
    display: inline-block;
    margin-left: 28px;
}

.footer-navigation li:first-child {
    margin-left: -10px;
}

.footer-navigation a {
    text-align: center;
    text-decoration: none;
    color: #7b7b7b;
    font-family: "Nimbus", "Arial", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 40px;
}

.footer-navigation a:hover {
    color: #8dc705;
}

.copyright {
    min-height: 65px;
    text-align: left;
    color: #919191;
    background-color: #e4e4e4;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.copyright p {
    display: inline-block;
    margin-top: 20px;
    margin-left: 11%;
}

.copyright p:last-child {
    margin-left: 41%;
}

@media screen and (min-width: 701px) and (max-width: 980px) {
    .items-list {
        height: 800px;
    }
    .items-list .container {
        top: 20px;
    }
    .top-items {
        width: 680px;
    }
    .top-items li {
        margin-left: 10px;
    }
    .benefits {
        margin-top: 0;
    }
    .benefits-text {
        margin-right: auto;
        margin-left: auto;
    }
    .copyright p:last-child {
        margin-left: 15%;
    }
}

@media screen and (min-width: 200px) and (max-width: 700px) {
    .logo {
        top: 5px;
    }
    .ellipse {
        display: none;
    }
    .main-navigation {
        position: relative;
        width: 100%;
        margin-top: 250px;
        text-align: center;
    }
    .main-menu {
        display: none;
    }
    .mobile-menu {
        position: absolute;
        top: -40px;
        left: 10px;
        display: block;
    }
    .main-navigation li {
        display: block;
    }
    .main-header h1 {
        font-size: 36px;
        line-height: 46px;
    }
    .header-text {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .items-list {
        height: 2300px;
        border-top: 1px solid transparent;
    }
    .items-list .container {
        top: -60px;
    }
    .items-list li {
        display: block;
        width: 200px;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
    }
    .items-list li:first-child {
        margin-left: auto;
    }
    .benefits-text {
        width: 90%;
        margin-top: 50px;
        margin-left: 10px;
    }
    .benefits-text .btn {
        margin-top: 30px;
    }
    .footer-navigation ul {
        width: 100%;
    }
    .footer-navigation li {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .copyright {
        border-top: 1px solid transparent;
    }
    .copyright p {
        display: block;
        margin: 0;
        text-align: center;
    }
    .copyright p:first-child {
        margin-top: 20px;
    }
    .copyright p:last-child {
        margin-left: 0;
    }
}
